.App {
  margin: 0 auto;
  margin-top: -20px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("/Users/meganwalsh/Desktop/CodeOp_Activities/MVP/my-express-app/client/src/Screenshot 2022-10-31 at 2.28.26 PM.png");
  background-size: cover;
  background-color: antiquewhite;
}

h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 20px;
  padding-top: 40px;
  font-family: "Citation Reports", sans-serif;
  color: #f6c1d4;
}

.top-girl {
  margin: 20px;
}
.Select {
  color: #f6c1d4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 20px;
  font-family: "Citation Reports", sans-serif;
}

.TurnView {
  background-color: #ec3e5f;
  text-align: left;
}
.TurnView img {
  border-radius: 50%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

footer {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
