/* .map {
  display: flex;
  align-items: center;
} */
.Map {
  display: grid;
}
.aMap {
  display: grid;
  width: 500px;
  /* position: absolute; */
  /* height: 600px; */
  margin: 0;
  padding: 1;
  border: 1px solid black;
  border-radius: 8px;
}

.adder {
  display: grid;
  text-align: right;
}
