nav ul {
  margin: 30px;
}
nav li {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
}
nav a {
  padding: 10px;
}

.navbar-nav {
  /* display: flex; */
  /* display: grid;
  text-align: left; */
  height: 70px;
  width: 70px;
  /* position: relative; */
  margin-left: -10px;
  margin-top: -80px;
  font-size: 15px;

  /* border-bottom: 2px solid #0004ff;
  background: #cccaca; */
}

.nav-item1 {
  /* margin: auto; */
  border-radius: 10px;
  border: 2px solid #b64276;
  background-color: #ef6da7;
  color: white;
  display: grid;
}

.nav-item2 {
  /* margin: auto; */
  border-radius: 10px;
  border: 2px solid #b64276;
  background-color: #ef6da7;
  color: white;
  display: grid;
}

.nav-item3 {
  /* margin: auto; */
  border-radius: 10px;
  border: 2px solid #b64276;
  background-color: #ef6da7;
  color: white;
  /* display: grid; */
}
/* .navbar-nav1{
  
} */
